<span class="select2-dropdown select2-dropdown--above" dir="ltr" style="width: 715.984px"
  ><span class="select2-search select2-search--dropdown"
    ><input
      class="select2-search__field"
      type="search"
      tabindex="0"
      autocorrect="off"
      autocapitalize="none"
      spellcheck="false"
      role="searchbox"
      aria-autocomplete="list"
      autocomplete="off"
      aria-label="Search"
      aria-controls="select2-state-it-results"
      aria-activedescendant="select2-state-it-result-gept-Baby &amp; Kids" /></span
  ><span class="select2-results"
    ><ul
      class="select2-results__options"
      role="listbox"
      id="select2-state-it-results"
      aria-expanded="true"
      aria-hidden="false"
    >
      <li
        class="select2-results__option select2-results__option--disabled"
        id="select2-state-it-result-1lhc-Category Menu"
        role="option"
        aria-disabled="true"
        data-select2-id="select2-data-select2-state-it-result-1lhc-Category Menu"
      >
        Category Menu
      </li>
      <li
        class="select2-results__option select2-results__option--selectable"
        id="select2-state-it-result-v6ad-Electronics"
        role="option"
        data-select2-id="select2-data-select2-state-it-result-v6ad-Electronics"
        aria-selected="false"
      >
        Electronics
      </li>
      <li
        class="select2-results__option select2-results__option--selectable"
        id="select2-state-it-result-yj4c-TV &amp; Appliances"
        role="option"
        data-select2-id="select2-data-select2-state-it-result-yj4c-TV &amp; Appliances"
        aria-selected="false"
      >
        TV &amp; Appliances
      </li>
      <li
        class="select2-results__option select2-results__option--selectable"
        id="select2-state-it-result-tppq-Home &amp; Furniture"
        role="option"
        data-select2-id="select2-data-select2-state-it-result-tppq-Home &amp; Furniture"
        aria-selected="false"
      >
        Home &amp; Furniture
      </li>
      <li
        class="select2-results__option select2-results__option--selectable select2-results__option--selected"
        id="select2-state-it-result-cl7n-Another"
        role="option"
        data-select2-id="select2-data-select2-state-it-result-cl7n-Another"
        aria-selected="false"
      >
        Another
      </li>
      <li
        class="select2-results__option select2-results__option--selectable select2-results__option--highlighted"
        id="select2-state-it-result-gept-Baby &amp; Kids"
        role="option"
        data-select2-id="select2-data-select2-state-it-result-gept-Baby &amp; Kids"
        aria-selected="true"
      >
        Baby &amp; Kids
      </li>
      <li
        class="select2-results__option select2-results__option--selectable"
        id="select2-state-it-result-lrn4-Health, Beauty &amp; Perfumes"
        role="option"
        data-select2-id="select2-data-select2-state-it-result-lrn4-Health, Beauty &amp; Perfumes"
        aria-selected="false"
      >
        Health, Beauty &amp; Perfumes
      </li>
      <li
        class="select2-results__option select2-results__option--selectable"
        id="select2-state-it-result-hk7h-Uncategorized"
        role="option"
        data-select2-id="select2-data-select2-state-it-result-hk7h-Uncategorized"
        aria-selected="false"
      >
        Uncategorized
      </li>
    </ul></span
  ></span
>
